*{
    margin:0;
    padding:0;
}
h2{
    text-align: center;
    padding:20px;
}
table{
    border-collapse: collapse;
    border:solid 1px black;
    font-family: '宋体';
    font-size:20px;
    position: relative;
    left: 50%;
    margin-left: -300px;
}
table tbody td{
    text-align: center;
    border: solid 1px black;
    height: 30px;
}
table thead{
    background-color: black;
    color:white;
}
table thead th{
    padding: 10px 30px;
    border: solid 1px white;
    width: 60px;
    height: 30px;
    position: relative;
}
.down{
     border-left:8px transparent solid;
     border-top:8px #FFFFFF solid;
     border-right:8px transparent solid;
     border-bottom:8px transparent solid;
     width:0;
     height:0;
    position: absolute;
    bottom: 5px;
    right: 10px;
 }
.up{
    border-left:8px transparent solid;
    border-bottom:8px #FFFFFF solid;
    border-right:8px transparent solid;
    border-up:8px transparent solid;
    width:0;
    height:0;
    position: absolute;
    top: 10px;
    right:10px;
}